<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Dao: query찾는 분류 기준  namespace+id -> com.pcwk.ehr.user.doSelectOne -->
<mapper namespace="com.example.test_prefect.mapper.ChartDao">
    <select id="getWorkChartInfo" parameterType="ScoreVO" resultType="ScoreVO">
        SELECT subject_code,score
        FROM subject
        WHERE trainee = #{email}
        Order By subject_code
    </select>

    <select id="mainChartInfo" parameterType="EduVO" resultType="EduVO">  <!-- 데이터만 보여주면 되기 때문에 resultType만 ,,모르겟음 아직 ㄱㄷ -->
        SELECT edu,
        COUNT(*) AS user_count
        FROM users
        GROUP BY edu
    </select>

    <select id="donutChartInfo" parameterType="RatioVO" resultType="RatioVO">  <!-- 데이터만 보여주면 되기 때문에 resultType만 ,,모르겟음 아직 ㄱㄷ -->
        SELECT gender,
        COUNT(*) AS gender_count
        FROM users
        GROUP BY gender
    </select>

    <select id="countChartInfo" parameterType="AtdVO" resultType="AtdVO">  <!-- 데이터만 보여주면 되기 때문에 resultType만 ,,모르겟음 아직 ㄱㄷ -->
        SELECT DATE_FORMAT(STR_TO_DATE(cal_id, '%Y%m%d'), '%Y-%m-%d') AS date_cal_id,
        COUNT(trainee) AS cnt_trainee
        FROM attendance
        WHERE professor = #{email}
        AND attend_status = '10'
        GROUP BY DATE_FORMAT(STR_TO_DATE(cal_id, '%Y%m%d'), '%Y-%m-%d')
        ORDER BY DATE_FORMAT(STR_TO_DATE(cal_id, '%Y%m%d'), '%Y-%m-%d');
    </select>


</mapper>