@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* Reset */	
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,nav,section,article,header,footer,main,aside,dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {margin:0;padding:0;}
body,input,select,textarea,button,img,fieldset {border:none;}
ul,ol,li{list-style:none;}
table{width:100%;border-spacing:0;border-collapse:collapse;}
address,cite,code,em,i{font-style:normal;font-weight:normal;}
label,img,input,select,textarea,button,a {vertical-align:middle;}
u,ins,a{text-decoration:none;}
button { cursor: pointer;}
                        
body{
    font-family: 'Nanum Gothic', sans-serif;
}

.title_article {
    text-align: left;
    border-left: #517135 12px solid;
    border-bottom: 1px solid #517135;
    padding: 3px 0 10px 10px;
    margin: 30px 0 20px 0;
    width: 30%;
}

.page-title {	
	margin-top: 60px;
	margin-bottom: 60px;
}

.page-title h2 {
	font-size: 30px;
	color: #333;
	text-align: center;	
}





